@import 'variables';

.rdio-album {
  @include span-columns(3);

  background-color: $lighter-dark-gray;
}

.spotify-album-list {
  @include span-columns(9);

  .spotify-album {
    @include span-columns(3 of 9);
    @include omega(3n);

    background-color: $light-dark-gray;
  }

  .album-art {
    width: 100%;
  }

  .artist-name {
    color: $text-light-gray;
  }
}

.rdio-album, .spotify-album {
  overflow: hidden;

  .album-art {
    background: center / cover no-repeat;

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }

  .album-name {
    font-weight: 500;
  }

  .album-link {
    font-size: .8em;

    &:hover {
      text-decoration: none;
    }
  }
}

.spotify-album {
  position: relative;

  .select-album {
    position: absolute;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    background-color: rgba(0, 255, 0, .3);
    text-align: center;

    p {
      text-shadow: 1px 1px 2px black;
    }

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
      top: -50%;
    }

    &:hover {
      opacity: 1;
    }
  }
}
