// external imports:
@import 'normalize';
@import 'bourbon';
@import 'grid-settings';
@import 'neat';
@import 'bitters';

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

section {
  @include outer-container;
}

// internal imports:
@import 'variables';
@import 'nav-bar';
@import 'collection-item';
@import 'album-view';

body {
  background-color: $darker-gray;
  color: $text-white;
}

a {
  color: $text-white;
  text-decoration: none;

  &:hover {
    color: $text-white;
    text-decoration: underline;
  }
}
