// external imports:
@import 'normalize';
@import 'bourbon';
@import 'grid-settings';
@import 'neat';
@import 'bitters';

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

section {
  @include outer-container;
  margin-top: 1em;
}

// internal imports:
@import 'variables';
@import 'nav-bar';
@import 'collection-item';
@import 'album-view';
@import 'track-view';

body {
  background-color: $darker-gray;
  color: $text-white;
}

a {
  color: $text-white;
  text-decoration: none;

  &:hover, &:active {
    color: $text-white;
    text-decoration: underline;
  }
}

.center-container {
  margin: 0 auto;
  width: 50%;
}

.instruction-list {
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 2em;
  li {
    margin-bottom: 1em;
  }
}

.footer-text {
  margin-top: 3em;
  text-align: center;
}
