<ul class="collection-list">
  {{#each model as |album|}}
    <li class="collection-item">
      {{#link-to 'album' album.id}}
        <img class='album-art' src='{{album.rdioAlbum.icon}}' title='{{album.rdioAlbum.name}}'/>
      {{/link-to}}
    </li>
  {{/each}}
</ul>
