<ul class="collection-list">
  {{#each model as |album|}}
    <li class="collection-item">
      {{#link-to 'album' album}}
        <img src='{{album.icon}}' title='{{album.name}}'/>
      {{/link-to}}
    </li>
  {{/each}}
</ul>
