<header>
  <h1 id="title">Rdio to Spotify</h1>

  {{#if session.isAuthenticated}}
    <button {{action 'logout'}}>Logout</button>
  {{/if}}
</header>

<section class='content'>
  {{outlet}}
</section>
